div
  label(for="title") Title:
  input(type="text", name ="title", value=books.title)

div
  label(for="Genre") Genre
  input(type="text" ,  name ="Genre" , value=books.genre)

div
  label(for="Author") Author
  input(type="text" , name ="Author" , value=books.author)

div
  label(for="Year") Year
  input(type="number" ,  name ="Year" , value=books.year)

div
input(type="submit")
a(href="/books") Cancel