extends layout

block content
  h1= books.title
  
  form(action=`/books/${books.id}` , method ='post')
    include form
  if op == "Update"
    form(action=`${books.id}/delete` , method='post')
      input(type="submit" value="Delete") 